:root {
  --date-picker-left: 12%;
  --date-picker-picker-left: 7%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.css-selector {
  background: linear-gradient(270deg, #000000, #1b0033, #001710);
  background-size: 600% 600%;

  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: var(--date-picker-picker-left);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -3%;
}

input[type="time"] {
    position: relative;
    left: 7%;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: var(--date-picker-left);
}
input::-webkit-datetime-edit {
  position: relative;
  left: var(--date-picker-left);
}